<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liwj.asem.dao.FlowTemplateInfoMapper">
  <resultMap id="BaseResultMap" type="com.liwj.asem.model.FlowTemplateInfo">
    <constructor>
      <idArg column="id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="need_grade_check" javaType="java.lang.Boolean" jdbcType="BIT" />
      <arg column="grade_instructor" javaType="java.lang.Boolean" jdbcType="BIT" />
      <arg column="grade_student" javaType="java.lang.Boolean" jdbcType="BIT" />
      <arg column="special_instructor" javaType="java.lang.Boolean" jdbcType="BIT" />
      <arg column="college_student" javaType="java.lang.Boolean" jdbcType="BIT" />
      <arg column="school_user" javaType="java.lang.Boolean" jdbcType="BIT" />
      <arg column="flow_template_id" javaType="java.lang.Long" jdbcType="BIGINT" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, need_grade_check, grade_instructor, grade_student, special_instructor, college_student, 
    school_user, flow_template_id
  </sql>
  <select id="selectByExample" parameterType="com.liwj.asem.model.FlowTemplateInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from flow_template_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from flow_template_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from flow_template_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.liwj.asem.model.FlowTemplateInfoExample">
    delete from flow_template_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.liwj.asem.model.FlowTemplateInfo">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into flow_template_info (need_grade_check, grade_instructor, grade_student, 
      special_instructor, college_student, school_user, 
      flow_template_id)
    values (#{needGradeCheck,jdbcType=BIT}, #{gradeInstructor,jdbcType=BIT}, #{gradeStudent,jdbcType=BIT}, 
      #{specialInstructor,jdbcType=BIT}, #{collegeStudent,jdbcType=BIT}, #{schoolUser,jdbcType=BIT}, 
      #{flowTemplateId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.liwj.asem.model.FlowTemplateInfo">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into flow_template_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="needGradeCheck != null">
        need_grade_check,
      </if>
      <if test="gradeInstructor != null">
        grade_instructor,
      </if>
      <if test="gradeStudent != null">
        grade_student,
      </if>
      <if test="specialInstructor != null">
        special_instructor,
      </if>
      <if test="collegeStudent != null">
        college_student,
      </if>
      <if test="schoolUser != null">
        school_user,
      </if>
      <if test="flowTemplateId != null">
        flow_template_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="needGradeCheck != null">
        #{needGradeCheck,jdbcType=BIT},
      </if>
      <if test="gradeInstructor != null">
        #{gradeInstructor,jdbcType=BIT},
      </if>
      <if test="gradeStudent != null">
        #{gradeStudent,jdbcType=BIT},
      </if>
      <if test="specialInstructor != null">
        #{specialInstructor,jdbcType=BIT},
      </if>
      <if test="collegeStudent != null">
        #{collegeStudent,jdbcType=BIT},
      </if>
      <if test="schoolUser != null">
        #{schoolUser,jdbcType=BIT},
      </if>
      <if test="flowTemplateId != null">
        #{flowTemplateId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.liwj.asem.model.FlowTemplateInfoExample" resultType="java.lang.Long">
    select count(*) from flow_template_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update flow_template_info
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.needGradeCheck != null">
        need_grade_check = #{record.needGradeCheck,jdbcType=BIT},
      </if>
      <if test="record.gradeInstructor != null">
        grade_instructor = #{record.gradeInstructor,jdbcType=BIT},
      </if>
      <if test="record.gradeStudent != null">
        grade_student = #{record.gradeStudent,jdbcType=BIT},
      </if>
      <if test="record.specialInstructor != null">
        special_instructor = #{record.specialInstructor,jdbcType=BIT},
      </if>
      <if test="record.collegeStudent != null">
        college_student = #{record.collegeStudent,jdbcType=BIT},
      </if>
      <if test="record.schoolUser != null">
        school_user = #{record.schoolUser,jdbcType=BIT},
      </if>
      <if test="record.flowTemplateId != null">
        flow_template_id = #{record.flowTemplateId,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update flow_template_info
    set id = #{record.id,jdbcType=BIGINT},
      need_grade_check = #{record.needGradeCheck,jdbcType=BIT},
      grade_instructor = #{record.gradeInstructor,jdbcType=BIT},
      grade_student = #{record.gradeStudent,jdbcType=BIT},
      special_instructor = #{record.specialInstructor,jdbcType=BIT},
      college_student = #{record.collegeStudent,jdbcType=BIT},
      school_user = #{record.schoolUser,jdbcType=BIT},
      flow_template_id = #{record.flowTemplateId,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.liwj.asem.model.FlowTemplateInfo">
    update flow_template_info
    <set>
      <if test="needGradeCheck != null">
        need_grade_check = #{needGradeCheck,jdbcType=BIT},
      </if>
      <if test="gradeInstructor != null">
        grade_instructor = #{gradeInstructor,jdbcType=BIT},
      </if>
      <if test="gradeStudent != null">
        grade_student = #{gradeStudent,jdbcType=BIT},
      </if>
      <if test="specialInstructor != null">
        special_instructor = #{specialInstructor,jdbcType=BIT},
      </if>
      <if test="collegeStudent != null">
        college_student = #{collegeStudent,jdbcType=BIT},
      </if>
      <if test="schoolUser != null">
        school_user = #{schoolUser,jdbcType=BIT},
      </if>
      <if test="flowTemplateId != null">
        flow_template_id = #{flowTemplateId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.liwj.asem.model.FlowTemplateInfo">
    update flow_template_info
    set need_grade_check = #{needGradeCheck,jdbcType=BIT},
      grade_instructor = #{gradeInstructor,jdbcType=BIT},
      grade_student = #{gradeStudent,jdbcType=BIT},
      special_instructor = #{specialInstructor,jdbcType=BIT},
      college_student = #{collegeStudent,jdbcType=BIT},
      school_user = #{schoolUser,jdbcType=BIT},
      flow_template_id = #{flowTemplateId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>